<app-home-navbar></app-home-navbar>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-2 m-2">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12"> 
                    <img class="w-100" height="250px" src="https://images.unsplash.com/photo-1563906267088-b029e7101114?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8YWJvdXQlMjB1c3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" alt="">   
                </div>
                <div class="row m-3">
                    <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6 text-center"> 
                        <h5>WHO ARE OUR CUSTOMERS</h5>
                        <h6>We work with the best</h6>
                        <p>Delivering top-notch industry specific solutions to customers ranging from small and medium to Fortune 500 enterprises.</p>
                        <p>primarily focus on:</p>
                        <p>Transportation, Healthcare, Power & Industrial, BFSI and Aerospace.</p>
                  </div>
                  <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6"> 
                      <img class="w-100" height="400px" src="https://images.unsplash.com/photo-1460925895917-afdab827c52f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjF8fGl0JTIwc29sdXRpb258ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60" alt="">   
                  </div>
                </div>
                
            </div>
        </div>
    </div>
</div>