<app-home-navbar></app-home-navbar>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-2 m-2">
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    
                    <div class="card text-bg-dark m-3">
                        <img src="https://images.unsplash.com/photo-1454165804606-c3d57bc86b40?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8bGVhcm5pbmd8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60" class="card-img" alt="...">
                        <div class="card-img-overlay">
                          <h5 class="card-title">Learning</h5>
                        </div>
                    </div>

                    <div class="card text-bg-dark m-3">
                        <img src="https://images.unsplash.com/photo-1454165804606-c3d57bc86b40?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8bGVhcm5pbmd8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60" class="card-img" alt="...">
                        <div class="card-img-overlay">
                          <h5 class="card-title">Learning</h5>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>