<app-admin-navbar></app-admin-navbar>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-2 m-2">
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3" *ngFor="let i of friends">
                    <div class="card h-100">
                        <div class="card-body text-center">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRa9UI1y4Shr253ibETjPCOWNBWWpKgQsVKaw&usqp=CAU" class="rounded-circle mb-3"
                              style="width: 150px;" alt="Avatar" />
                            <h5 style="height:2rem;" class="mb-2"><strong>{{i.name}}</strong></h5>
                            <p style="height:1rem;" class="text-muted">Friend Name: {{i.friendName}}</p>
                            <p style="height:1rem;" class="text-muted">Description: {{i.DescribeYourFriend}}</p>
                            <p style="height:1rem;" class="text-muted">NickName: {{i.friendNickName}}</p>
                          </div>
                </div>
                
            </div>
        </div>
    </div>
</div>